@import'variables';

.protection{
img{
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
    margin-top: 50px;
   

}
&__title{
    text-align: center;
    color:$color-primary;
    font-size: 2rem;
    padding-top: 40px;   
}

&__wrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 24% 10% 24% 10% 24% 10%;
    margin:40px 40px;
  
}
&__wrapper--icn1{
    grid-area: 1/1;
    margin-left: auto;
    margin-right: auto;
}
&__icn1--title{
    grid-area: 2/1;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}

&__wrapper--icn2{
    grid-area: 1/2;
    margin-left: auto;
    margin-right: auto;
}
&__icn2--title{
    grid-area: 2/2;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}

&__wrapper--icn3{
    grid-area: 1/3;
    margin-left: auto;
    margin-right: auto;
}
&__icn3--title{
    grid-area: 2/3;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}

&__wrapper--icn4{
    grid-area: 3/1;
    margin-left: auto;
    margin-right: auto;
}
&__icn4--title{
    grid-area: 4/1;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}

&__wrapper--icn5{
    grid-area: 3/2;
    margin-left: auto;
    margin-right: auto;
}
&__icn5--title{
    grid-area: 4/2;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}
&__wrapper--icn6{
    grid-area: 3/3;
    margin-left: auto;
    margin-right: auto;
}
&__icn6--title{
    grid-area: 4/3;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}
&__wrapper--icn7{
    grid-area: 5/2;
    margin-left: auto;
    margin-right: auto;
}
&__icn7--title{
    grid-area: 6/2;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    font-size: 21px;
}
}
.informations{
    background-color:$color-accent;

    &__title{
        text-align: center;
        color: $color-primary ;
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: .1rem;
    }
  &__para{
      text-align: center;
      font-weight: bold;
      padding-bottom: 1rem;
      font-size: 21px;
      color: $color-bleu;
  }
  &__link{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: $footer-color;
    background-image: url(/C2N3_C3N3-master/Design/Assets/png/btn-bg.png);
    width: 20%;
    border-radius: 7px;
  
  }  
   
  }



