@import 'variables';

.infoMedicale {
    background-color: $color-secondary;
    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $color-primary;
        padding-top: 20px;
        font-size: 1.6rem;
    }
    &__para {
        text-align: center;
        padding: 10px 240px 20px;
        line-height: 1.6em;

    }
}
.heroHeader {
    margin: 40px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    
    &__right--img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
    &__right--title {
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        font-weight: 700;
        color: $color-primary;
        padding-bottom: 30px;
    }
    &__right--para {
        font-size: 18px;
        color: $color-g;
        text-align: center;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 40px;
    }
}
@media (max-width: 575px){
    .infoMedicale {
        &__title {
            font-size: 28px;
            font-weight: 700;
            text-align: center
        }
        &__para {
            padding: 20px 40px;
            font-size: 16px;
            font-weight: 500;
            text-align: justify;
            text-align-last: center;
        }
    }
    .heroHeader {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        &__left--img img {
            width: 90vw;
            position: relative;
            left: 50%;
           transform: translateX(-50%);
            margin: 40px auto;  
        }

        &__right--title {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-size: 30px;
            
        }

        &__right--para {
            line-height: 35px;
            margin-bottom: 30px;
            font-size: 22px;
            font-weight: 700;
            width: 100%;

        }
        
        
    }
}

