@import 'variables';

.container{
    width:70%;
    margin: 60px 280px 20px;
    
}
.stepper{
    display: grid;
    grid-template-columns: 33% 33% 33%;

h1{
    font-size: 20px;
    color: $color-primary;
    position: relative;
    display: flex;
    justify-content: center;

&::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: $color-primary;
    border-radius: 100%;
    position: absolute;
    margin-top: -30px;
}
&::after {
    content: '';
    height: 20px;
    width: 20px;
    background-color:$color-accent;
    border-radius: 100%;
    position: absolute;
    margin-top: -30px;
    z-index: -1;
    transition: all 0.3s ease;
}
}
.active{
    &::before {
        content: '';
        height: 23px;
        width: 23px;
        background-color: $color-secondary;
        border-radius: 100%;
        position: absolute;
        margin-top: -2rem;
        z-index: 100;
    }
    
    &::after {
        content: '';
        height: 50px;
        width: 50px;
        background-color: $color-accent;
        border-radius: 100%;
        position: absolute;
        margin-top: -45px;
        z-index: 1;
    }
}
}
.Préambule {
    width: 80%;
    background-color: $color-gry;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius:  1rem;

    h1{
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 30px;
        text-align: center;
         color: $color-primary;
    }

    hr{
        width: 100%;
        margin-bottom: 1.5rem;
        border: .1px solid $color-g;
    }

    &__paragraph1{
        font-size: 1.1rem;
        font-weight: 500;
        text-align: justify;
        text-align-last: center;
        line-height: 30px;
        margin-bottom: 3rem;
    }
    &__paragraph2{
        font-size: 1.1rem;
        font-weight: 500;
        text-align: justify;
        text-align-last: center;
        line-height: 30px;
        margin-bottom: 3rem;
    }
  

    

}
.start{
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: 39%;
    width: 18%;
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-primary;
    background-color: $color-accent;
    border: 2px solid;
    border-radius: 6px;
    background-color: rgba(147, 209, 240, 0.2);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: $footer-color;
        background-color: $color-primary;
        
    }
}
.questionnaire {
    display: none;
    width: 80%;
    border: 1px solid $color-gry;
    margin: 20px auto;
    border-radius: 8px;
    
    h1 {
       text-align: center;
       padding-top: 40px;
       font-size: 31px;
       line-height: 2.8rem;
       color: $color-g;
       font-weight: bolder;
       width: 80%;
       margin: 20px auto;
}
}
.progress {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-gry;
    padding: 7px 0;
    background-color: rgba(0,0,0,.03);
    

    h3 {
        font-weight: bolder;
        margin-right: 10px;
    }
    &__bar {
        width: 90%;
        height: 10px;
        border-radius: 20px;
        background-color: $color-accent;

        .bar {
            height: 100%;
            width: calc(1* calc(100% / 22));
            background-color: $color-primary;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            transition: all 0.4s ease;
        }
    }
}
.answer-inputs {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;



    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 70px 25px;
        height: 85px;
        width: 130px;
        color: $color-primary;
        border-radius: 5px;
        border: 3px solid $color-primary;
        font-size:  1.4rem;
        font-weight: 900;
        padding: 10px 0;
        transition: 0.5s ease;

       
    }
    input[type="radio"] {
        display: none;

    }
    input[type="radio"]:checked+label {
        background-color: $color-primary;
        color: $color-secondary;
    }
    input[type="number"] {
        margin-top: 6rem;
        margin-bottom: 6rem;
        width: 100%;
        font-size: 1rem;
        border: 1px solid $color-accent;
        padding: 10px ;   
    }

    .input-span {   
        text-align: center;
        font-size: 1rem;
        border: 1px solid $color-accent;
        background-color: $color-primary;
        background-color: rgba(77, 163, 206, 0.1);
        border-left: none;
        padding: 4px;
    }

}
.btn{
    margin: 40px 50px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .suivant {
        grid-area: 1/3;
        margin-left: 11.8rem;
    }
       
   button{
    width: 28%;
    font-size: 16px;
    background-color: $color-primary;
    background-color: rgba(16, 121, 173, 0.2);
    padding: 10px 20px;
    color: $color-accent;
    border: 2px solid $color-accent;
    border-radius: 4px;
    transition: 0.3s ease;
   }
   .hide {
    opacity: 0;
    pointer-events: none;}

}

@media only screen and (max-width: 575px) {
    .container {
        width: 90%;
    }
    .stepper {
        
        h1 {
            font-size: 16px;
            margin-left: -30rem;
            &::before {
                height: 12px;
                width: 12px;
                margin-top: -20px;
            }
            &::after {
                height: 12px;
                width: 12px;
                margin-top: -20px;
            }
        }
        .active {
            &::before {
                height: 16px;
                width: 16px;
                margin-top: -25px;
            }
            &::after {
                height: 32px;
                width: 32px;
               margin-top: -33px;

            }
        }
    }
    .Préambule {
        width: 80%;
        text-align: center;
        padding: 20px;

        &__paragraph1, &__paragraph2 {
            text-align: justify;
            text-align-last: center;
        }
        hr {
            width: 80%;
            margin: 10px auto;
        }
    }
    .start {
        margin-top: 31px;
        margin-left: 9rem;
        width: 45%;
    }
    .questionnaire {
        width: 88%;
        h1 {
            font-size: 18px;
            line-height: 1.9rem;
            
        }
    }
    .progress {
        margin: auto;
        width: 100%;
        h3{
            display: inherit;
        }
    }
    .btn {
        display: grid;
        grid-template-columns: 50% 50%;

        .suivant{
            grid-area: 1/2;
            margin-left: 2rem;
        }
        button {
            width: 43%;
            padding: 10px 14px;
        }
    }
    .answer-inputs {
        width: 80%;
    }

}

