
@import'variables';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    font-family: 'Josefin Sans', sans-serif;
  }
  h1{
    color:$color-accent;
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
     
}